body {
  box-sizing: border-box;
  margin: 0;
  font-family: "Indie Flower", cursive;
}

.container {
  width: 100vw;
  height: 100vh;
  background-color: grey;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 4fr;
  grid-template-areas:
    "sidebar header"
    "sidebar main-content";
}

.sidebar {
  grid-area: sidebar;
  background-color: #18181b;
  color: white;
  height: 100vh;
  padding: 1rem;
  display: grid;
  grid-template-rows: 1fr 2fr 6fr;
  justify-items: start;
}

.sidebar-title {
  display: grid;
  grid-template-columns: 1fr 3fr;
  font-size: 2.2rem;
}

.sidebar-title div {
  align-content: flex-start;
  justify-self: start;
}

.sidebar-title img {
  align-content: flex-start;
  justify-self: end;
  margin: 0.2rem;
}

.sidebar-options {
  display: grid;
  justify-items: center;
  font-size: 1.5rem;
  gap: 0.2rem;
}

.sidebar-settings {
  display: grid;
  justify-items: center;
  font-size: 1.5rem;
}

ul > li {
  list-style: none;
  cursor: pointer;
}

li > img {
  margin-right: 1rem;
  padding: 0;
}

span[data-tier-pro]{
  background-color: orangered;
  padding: 0.2rem .6rem;
  border-radius: 10px;
}

.header {
  grid-area: header;
  background-color: #18181b;
  grid-template-rows: repeat(2, 1fr);
  color: white;
}

.header-top {
  display: grid;
  grid-template-columns: 1fr 6fr repeat(3, 1fr);
  grid-auto-flow: column;
  align-items: center;
  justify-items: center;
  margin: 10px 30px 0 10px;
}

#search-bar {
  border-radius: 100px;
  outline: none;
  border-width: thin;
  height: 1.8rem;
  width: 70%;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
  background-color: #ffedd5;
}

img[data-img-search],
img[data-img-bell-icon] {
  justify-self: end;
}

p[data-profile-name] {
  justify-self: start;
  font-size: 1.5rem;
  font-weight: bold;
}

.header-bottom {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-flow: column;
  align-items: center;
  justify-items: start;
  margin: 10px 30px 0 10px;
}

div[data-header-bottom-left], div[data-header-bottom-right]{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;

}

div[data-header-bottom-right]{
  justify-content: space-around;
}


div[data-header-greeting]{
  padding-left: 1.5rem;
  font-size: 1.5rem;
}

p[data-greeting-name]{
  display: inline-block;
  font-size: 2rem;
  font-weight: bold;
  margin: 0 0 0 0;
}

p[data-greeting]{
  margin: 0 0 0 0;
}

img[data-img-header-bottom]{
  width: 12%;
  padding-left: 2rem;
}

div[data-header-bottom-right] button{
  width: 110px;
  height: 40px;
  font-size: 1.2rem;
  border-radius: 100px;
  outline: none;
  font-family: inherit;
  font-weight: bold;
  border: none;
  cursor: pointer;
  color: white;
  background-color:   #0369a1;
}

div[data-header-bottom-right] button:hover{
  background-color:  #eab308;
}

.main-content {
  grid-area: main-content;
  background-color: white;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

div[data-content-projects]{
  background-color: white;
  display: flex;
  flex-direction: column;
  margin-bottom: 5%;
}

div[data-card-container]{
  background-color: white;
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-auto-flow: column;
  justify-items: center;
  align-items: center;
}

div[data-card]{
  width: 90%;
  height: 90%;;
  background-color: blue;
  text-align: center;

}

div[data-content-announcements]{
  background-color: green;;
}